@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints 

Pequenas telas: até 600px
Celuler: 600px até 768px
Tablet: 768px até 992px
Desktop: 922px até 1200px
Grandes telas: acima de 1200px           */

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
    background-image: url(../imagens/back-print.jpg); /* desnessesário */
    }

    main {
        border: 2px solid black;
    }
    
    main h1 {
    text-shadow: none;
    color:black
    }

   #print { display: block; }
   #phone, #tablet, #pc, #tv { display: none; }
}

@media screen and (min-width: 768px) and (max-width:992px) {
   body {
    background-image: url(../imagens/back-tablet.jpg);
   }

   #tablet { display: block; }
   #phone, #print, #pc, #tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
    body {
    background-image: url(../imagens/back-pc.jpg);
   }

   #pc { display: block; }
   #phone, #print, #tablet, #tv { display: none; }
}

@media screen and (min-width: 1200px) {
    body {
    background-image: url(../imagens/back-tv.jpg);
   }

   #tv { display: block; }
   #phone, #print, #pc, #tablet { display: none; }
}